*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
a{
    display: inline-block;
    text-decoration: none;
}

.section-gap{
    padding: 65px 0;
    &.double-gap{
        padding: 130px 0;
    }
}

.inner-page-gap{
    padding: 100px 0;
}